<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
	<property name="APP_NAME" value="sms-migration"/>
	<property name="LOG_HOME" value="logs"/>
	
	<contextName>${APP_NAME}</contextName>
	<timestamp key="datetime" datePattern="yyyy-MM-dd HH:mm:ss" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level | %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <!--日志文件输出的文件名-->  
            <fileNamePattern>${LOG_HOME}/${APP_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>     
            <maxHistory>30</maxHistory>  
        </rollingPolicy>     
        <encoder>
			<pattern>%-5level | %d{yyyy-MM-dd HH:mm:ss.SSS} - %logger - %msg%n  
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
	</root>
	
</configuration>